<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>jKey Lu</string>
	<key>Builder Version</key>
	<string>9537.76.4</string>
	<key>CFBundleDisplayName</key>
	<string>v2ex.ext</string>
	<key>CFBundleIdentifier</key>
	<string>lu.jkey.v2exext</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>js/jquery-2.1.1.min.js</string>
				<string>js/jquery.powertip.min.js</string>
				<string>js/v2ex.ext.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>css/jquery.powertip.min.css</string>
			<string>css/v2ex.ext.css</string>
		</array>
	</dict>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>v2ex.com</string>
				<string>*.v2ex.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/jkeylu/v2ex.ext</string>
</dict>
</plist>
