<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>jKey Lu</string>
	<key>Builder Version</key>
	<string>10600.1.25</string>
	<key>CFBundleDisplayName</key>
	<string>v2ex.ext</string>
	<key>CFBundleIdentifier</key>
	<string>lu.jkey.v2exext</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.6</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.safari.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>js/jquery-2.1.1.min.js</string>
				<string>js/jquery.powertip.min.js</string>
				<string>js/v2ex.ext.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>css/jquery.powertip.min.css</string>
			<string>css/v2ex.ext.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>V2EX Extension</string>
	<key>DeveloperIdentifier</key>
	<string>9PR465GAS9</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>v2ex.com</string>
				<string>*.v2ex.com</string>
				<string>*.weibo.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://jkeylu.github.io/v2ex.ext/update.plist</string>
	<key>Website</key>
	<string>https://github.com/jkeylu/v2ex.ext</string>
</dict>
</plist>
