<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Extension Updates</key>
    <array>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>lu.jkey.v2exext</string>
        <key>Developer Identifier</key>
        <string>9PR4465GAS9</string>
        <key>CFBundleVersion</key>
        <string>0.2.0</string>
        <key>CFBundleShortVersionString</key>
        <string>0.2.0</string>
        <key>URL</key>
        <string>http://jkeylu.github.io/v2ex.ext/v2ex.ext_0.2.0.safariextz</string>
      </dict>
    </array>
  </dict>
</plist>
